<html>
<head>
	<title>
		Redirect Page
	</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
	<div ng-app=""   style="text-align:center;background-color:Blue;color:white;">
  		<p><h3>Redirect Value: {{msg}}</h3></p>
		<img src={{pic}}  width="500" height="333">
	</div>
</body>
</html>